<!DOCTYPE html>
<html>

<head>
    <% include ../partials/header_bg.ejs %>
</head>

<body id="page-top">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
        <div class="container">
            <a class="navbar-brand js-scroll-trigger" href="/">
                <i><img id="logo" src="/img/logo.png"></i> <span class="light">Арти Логистикс</span>
            </a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                  Menu
                  <i class="fa fa-bars"></i>
                </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="/">Начало</a>
                    </li>
                    <!-- <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="/services-bg">Услуги</a>
                    </li> -->
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="/#about">За Нас</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#">Енергийни Проекти</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="/contacts-bg">Контакти</a>
                    </li>
                    <li>
                        <a class="language-flag" href="/energy-projects-en"><img id="en-flag" src="/img/en-flag.png"></a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>



    <!-- Contact Section -->
    <section id="contact" class="content-section text-center">
        <div class="container">
            <div class="col-lg-8 mx-auto">
                <h2>Очаквайте скоро</h2>
            </div>            
        </div>
    </section>

    <!-- Footer -->
    <footer class="footer text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-4 mb-5 mb-lg-0">
                    <h4 class="text-uppercase mb-4">Телефон</h4>
                    <p class="lead mb-0">+359 895 477 825</p>
                </div>
                <div class="col-md-4 mb-5 mb-lg-0">
                    <h4 class="text-uppercase mb-4">Around the Web</h4>
                    <ul class="list-inline mb-0">
                        <li class="list-inline-item">
                            <a target="_blank" class="btn btn-outline-light btn-social text-center rounded-circle" href="https://www.facebook.com/Arti-Logistics-100923340690221/">
                                <i class="fa fa-fw fa-facebook"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a target="_blank" class="btn btn-outline-light btn-social text-center rounded-circle" href="https://plus.google.com/u/0/114751744327009316590">
                                <i class="fa fa-fw fa-google-plus"></i>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <h4 class="text-uppercase mb-4">Email</h4>
                    <p class="lead mb-0"><a href="mailto:office@artilogistics.bg">office@artilogistics.bg</a></p>
                </div>
            </div>
        </div>
    </footer>

    <!-- Copyright Section -->
    <div class="copyright py-2 text-center text-white">
        <div class="container">
            <small>Запазени права &copy; Арти Логистикс ЕООД 2017</small>
        </div>
    </div>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Google Maps API Key - Use your own API key to enable the map feature. More information on the Google Maps API can be found at https://developers.google.com/maps/ -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCp62lF7k9gx9VZqplkBADrt7cHuqZtpPA&sensor=false"></script>

    <!-- Custom scripts for this template -->
    <script src="js/grayscale.min.js"></script>

    <!-- Custom scripts for google maps -->
    <script src="js/maps.js"></script>

</body>

</html>