<!DOCTYPE html>
<html>

<head>
    <% include ../partials/header_en.ejs %>
</head>

<body id="page-top">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
        <div class="container">
            <a class="navbar-brand js-scroll-trigger" href="#page-top">
                <i><img id="logo" src="/img/logo.png"></i> <span class="light">Arti Logistics</span>
            </a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                  Menu
                  <i class="fa fa-bars"></i>
                </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#">Home</a>
                    </li>
                    <!-- <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="/services-en">Services</a>
                    </li> -->
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#about">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="/energy-projects-en">Energy Projects</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="/contacts-en">Contact</a>
                    </li>
                    <li>
                        <a class="language-flag" href="/"><img id="en-flag" src="/img/bg-flag.png"></a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>


    <!-- Intro Header -->
    <header class="masthead">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 mx-auto">
                        <h1 class="brand-heading">Arti Logistics</h1>
                        <p class="intro-text">We do it successfully!</p>
                        <a href="#about" class="btn btn-circle js-scroll-trigger">
                            <i class="fa fa-angle-double-down animated"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- About Section -->
    <section id="about" class="content-section text-center">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <h2>About Arti Logistics</h2>
                    <p>Arti Logistics Ltd is a company that specializes in the logistics and transportation field, which will readily respond to all your needs regarding a fast, quality assured and care free transportation of your goods. Our main activity
                        is transporting goods by land and we can also provide freight forwarding services by air and sea. We have our own fleet of motor vehicles, which cover full truck or groupage loadings for import and export from Europe.
                    </p>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-lg-4">
                    <span class="portfolio-item d-block mx-auto" href="#portfolio-modal-1">
                                <img class="img-fluid" src="img/portfolio01.png" alt="">
                                <h5 class="portfolio-grid-label text-center">Road transport</h5>
                                <span>Full loads, part loads and groupage shipments all over the Europe</span>
                    </span>
                </div>
                <div class="col-md-6 col-lg-4">
                    <span class="portfolio-item d-block mx-auto" href="#portfolio-modal-2">
                                <img class="img-fluid" src="img/portfolio02.jpg" alt="">
                                <h5 class="portfolio-grid-label text-center">Freight Forwarding services</h5>
                                <span>Sea and air freight all over the World</span>
                    </span>
                </div>
                <div class="col-md-6 col-lg-4">
                    <span class="portfolio-item d-block mx-auto" href="#portfolio-modal-3">
                                <img class="img-fluid" src="img/portfolio03.jpg" alt="">
                                <h5 class="portfolio-grid-label text-center">Courier services</h5>
                                <span>We can offer you express and professional courier services into Sofia within 90 minutes</span>
                    </span>
                </div>
            </div>
        </div>
    </section>

    <!-- Footer -->
    <footer class="footer text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-4 mb-5 mb-lg-0">
                    <h4 class="text-uppercase mb-4">Phone</h4>
                    <p class="lead mb-0">+359 895 477 825</p>
                </div>
                <div class="col-md-4 mb-5 mb-lg-0">
                    <h4 class="text-uppercase mb-4">Around the Web</h4>
                    <ul class="list-inline mb-0">
                        <li class="list-inline-item">
                            <a target="_blank" class="btn btn-outline-light btn-social text-center rounded-circle" href="https://www.facebook.com/Arti-Logistics-100923340690221/">
                                <i class="fa fa-fw fa-facebook"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a target="_blank" class="btn btn-outline-light btn-social text-center rounded-circle" href="https://plus.google.com/u/0/114751744327009316590">
                                <i class="fa fa-fw fa-google-plus"></i>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <h4 class="text-uppercase mb-4">Email</h4>
                    <p class="lead mb-0"><a href="mailto:office@artilogistics.bg">office@artilogistics.bg</a></p>
                </div>
            </div>
        </div>
    </footer>

    <!-- Copyright Section -->
    <div class="copyright py-2 text-center text-white">
        <div class="container">
            <small>Copyright &copy; Arti Logistics LTD 2017</small>
        </div>
    </div>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="js/grayscale.min.js"></script>

</body>

</html>