<!DOCTYPE html>
<html>

<head>
    <% include ../partials/header.ejs %>
</head>

<body id="page-top">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
        <div class="container">
            <a class="navbar-brand js-scroll-trigger" href="/">
                <i><img id="logo" src="/img/logo.png"></i> <span class="light">Арти Логистикс</span>
            </a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                  Menu
                  <i class="fa fa-bars"></i>
                </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="/">Начало</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="">Услуги</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="/#about">За Нас</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#">Контакти</a>
                    </li>
                    <li>
                        <a class="language-flag" href="/contacts-en"><img id="en-flag" src="/img/en-flag.png"></a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>



    <!-- Services Section -->
    <section id="about" class="content-section text-center">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <h3>Нашите услуги</h3>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <a class="btn btn-outline-secondary col-md-6 col-lg-4" id="courier-btn" onclick="showCourierContent()">Градски куриер</a>
                <a class="btn btn-outline-secondary col-md-6 col-lg-4" id="forwarding-btn" onclick="showForwardingContent()">Спедиторски услуги</a>
                <a class="btn btn-outline-secondary col-md-6 col-lg-4" id="road-transport-btn" onclick="showroadTransportContent()">Автомобилен транспорт</a>
            </div>
        </div>
        <div class="container" id="courier-content">
            <p class="lead">Градски куриер</p>
            <div class="row">
                <div class="col-md-8">Име</div>
                <div class="col-md-4">Цена</div>
            </div>
            <div class="row">
                <div class="col-md-8">90 минути</div>
                <div class="col-md-4">5.00лв.</div>
            </div>
            <div class="row">
                <div class="col-md-8">120 минути</div>
                <div class="col-md-4">4.00лв.</div>
            </div>
            <div class="row">
                <div class="col-md-8">150 минути</div>
                <div class="col-md-4">3.00лв.</div>
            </div>
        </div>
        <div class="container" id="forwarding-content">
            <p class="lead">Спедиторски услуги</p>
        </div>
        <div class="container" id="road-transport-content">
            <p class="lead">Автомобилен транспорт</p>
        </div>
    </section>

    <!-- Footer -->
    <footer class="footer text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-4 mb-5 mb-lg-0">
                    <h4 class="text-uppercase mb-4">Телефон</h4>
                    <p class="lead mb-0">+359 895 477 825</p>
                </div>
                <div class="col-md-4 mb-5 mb-lg-0">
                    <h4 class="text-uppercase mb-4">Around the Web</h4>
                    <ul class="list-inline mb-0">
                        <li class="list-inline-item">
                            <a target="_blank" class="btn btn-outline-light btn-social text-center rounded-circle" href="https://www.facebook.com/Arti-Logistics-100923340690221/">
                                <i class="fa fa-fw fa-facebook"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a target="_blank" class="btn btn-outline-light btn-social text-center rounded-circle" href="https://plus.google.com/u/0/114751744327009316590">
                                <i class="fa fa-fw fa-google-plus"></i>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <h4 class="text-uppercase mb-4">Email</h4>
                    <p class="lead mb-0"><a href="mailto:office@artilogistics.bg">office@artilogistics.bg</a></p>
                </div>
            </div>
        </div>
    </footer>

    <!-- Copyright Section -->
    <div class="copyright py-2 text-center text-white">
        <div class="container">
            <small>Запазени права &copy; Арти Логистикс ЕООД 2017</small>
        </div>
    </div>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="js/grayscale.min.js"></script>

</body>

</html>